/*------------------------------------*\
 #ARTICLE_INTRO
\*------------------------------------*/

.c-article-intro__title {
  margin-bottom: size(3);
}

.c-article-intro__description {
  margin-bottom: size(5);
}

.c-article-intro__image {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  width: 100%;
}
